.in-container {
    height: 30vh;
}

.in-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.in-col {
    position: relative;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 0 10px #00000049;
    transition: all 1s;
}

.category-content-in {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.category-content-in h3 {
    font-size: 35px;
    text-shadow: 0 0 5px #000000;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #066b3a;
    /* margin-top: 5px; */
}

.category-content-in p {
    padding-top: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000000;
    letter-spacing: 2.5px;
    font-family:Arial, Helvetica, sans-serif
}

