/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;


} */

/* html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: rgb(69, 64, 64);
} */

/* body {
    min-height: 100vh;
    background-color: dodgerblue;
}  */



section {
    
    display: block;
 

    margin-left: auto;
    margin-right: auto ;
    margin-top: 20px ;

    align-items:center;
    justify-content: center;

    width: 100%;
    max-width: 420px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
 
    padding: 1rem;
  
    background-color: rgba(20, 90, 170, 0.2);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: rgb(248, 234, 234);
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 0.3rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
 
