.navbar {
    /* background: linear-gradient(90deg, rgb(218, 114, 11) 0%, rgb(215, 215, 6) 100%); */
    /* background: #DE7A22; */
    background: linear-gradient( #539141 6%, #8ab66b 22%, #539141 83%, #398235 92%);

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
  
  .navbar-logo {
    /* color: #fff; */
    background-color: rgba(0,0,0,0.5);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .fa-times {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .fa-bars {
    color: #fff;
    font-size: 1.5rem;

  }
  

  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 1rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;  
    /* color: #000; */


  }
  
  .nav-links {
    /* color: red; */
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #d69226;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  

  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  

  /* 缩小版状态 */
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      /* background-color: #1888ff; */
      background-color: #d69226;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  

  
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 60%;
      /* background: #1888ff; */
      background: #d69226;

      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #1888ff;
      transition: 250ms;
    }
  
    button {
      display: none;
    }
  }