@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  

}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: rgb(69, 64, 64);
}


.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;

}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  /* background: lightskyblue; */
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}


